@forward "./Header/header";
@forward "./Services/services";
@forward "./Products/products";
@forward './SignUp/signup';
.home
{
    padding: 2rem 7rem;
    
}
@media screen and (max-width:640px) {
    .home{
       padding: 10px;
       
    }
    
}
@media screen and (min-width:640px) and (max-width:800px) {
    .home {
        padding: 0;
      
    }

}