
@forward "./components/Navbar/navbar";
@forward "./components/Home/home";
@forward "./components/Footer/footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body
{
    font-family: "Inter", sans-serif;
background: #FBFCFD;
}